- var Code = ""
#main
    h1#title It&apos;s your auth code:
    #code
        | #{Code}
    |     by tiпше ck-tack team
style.
    #main{
        background-color: #0B090A;
        width: 400px;
        height: 200px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        letter-spacing: 5px;
    }
    #code{
        background-color: #BA181B;
        font-size: 40px;
    }
